.scrollDown img {
    animation-name: opacity;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes opacity {
    0% {
        opacity: 0%;
    }
    50% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}